#### O desafio se tratava de predizer se um candidato do ENEM faz a prova apenas para treinar ou para entrar em uma universidade de fato. Temos duas bases de dados, uma em que há a aplicação do modelo de Random Forest para o treino da máquina e base de dados para teste, onde são aplicados os aprendizados com a base de treino.

#### Importação de biblitecas

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

#### Importação das bases de dados

In [35]:
dftrain = pd.read_csv('train.csv')
dftest = pd.read_csv('test.csv')

#### Verificando correlações, positivas e negativas, em relação a variável alvo (IN_TREINEIRO)

In [36]:
treineiro_correlation = pd.DataFrame(dftrain.corr()['IN_TREINEIRO'].sort_values(ascending = False))

In [37]:
treineiro_correlation

                             IN_TREINEIRO
IN_TREINEIRO                     1.000000
TP_ST_CONCLUSAO                  0.533983
TP_PRESENCA_CN                   0.094692
TP_PRESENCA_CH                   0.094692
TP_PRESENCA_LC                   0.092454
...                                   ...
IN_SALA_INDIVIDUAL                    NaN
IN_SALA_ACOMPANHANTE                  NaN
IN_MOBILIARIO_ESPECIFICO              NaN
IN_MATERIAL_ESPECIFICO                NaN
CO_UF_ENTIDADE_CERTIFICACAO           NaN

[107 rows x 1 columns]

In [38]:
treineiro_correlation = pd.DataFrame(dftrain.corr()['IN_TREINEIRO'].sort_values(ascending = True))

In [39]:
treineiro_correlation

                             IN_TREINEIRO
NU_IDADE                        -0.295091
TP_ANO_CONCLUIU                 -0.257710
TP_ESCOLA                       -0.244562
IN_CERTIFICADO                  -0.142185
TP_ESTADO_CIVIL                 -0.117932
...                                   ...
IN_SALA_INDIVIDUAL                    NaN
IN_SALA_ACOMPANHANTE                  NaN
IN_MOBILIARIO_ESPECIFICO              NaN
IN_MATERIAL_ESPECIFICO                NaN
CO_UF_ENTIDADE_CERTIFICACAO           NaN

[107 rows x 1 columns]

#### Foram utilzadas as features independentes TP_ST_CONCLUSAO, NU_IDADE, TP_ANO_CONCLUIU e TP_ESCOLA por terem maiores correlações

#### à variável x, foram atribuídas as features independentes e à variável y, a variável alvo

In [40]:
x = dftrain[['TP_ST_CONCLUSAO', 'NU_IDADE', 'TP_ANO_CONCLUIU', 'TP_ESCOLA']]
y = dftrain['IN_TREINEIRO']

#### Separação da base de treino em quantidades de treino e teste. Foi utilizado um valor de 1%, pois a base de dados será usada somente para treino, praticamente

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.01)

#### Aplicação do modelo de Random Forest e 'Fit' dos dados

In [42]:
random_forest = RandomForestRegressor(n_estimators = 100)
random_forest.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

#### Atribuindo à variável 'Xres' as features independes da base de teste

In [43]:
Xres = dftest[['TP_ST_CONCLUSAO', 'NU_IDADE', 'TP_ANO_CONCLUIU', 'TP_ESCOLA']]

#### Fazendo novamente o 'fit' dos dados

In [44]:
random_forest = RandomForestRegressor(n_estimators = 100)
random_forest.fit(x, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

#### Atribuindo à variável 'Yres' os valores preditos com base no aprendizado anterior e as features independentes da base de teste

In [45]:
Yres = random_forest.predict(Xres)

#### Arredondando os valores

In [46]:
dftest['IN_TREINEIRO'] = np.around(Yres, 0)

#### Atribuindo as predições e as incrições à base de dados de teste

In [47]:
dftest = dftest[['NU_INSCRICAO','IN_TREINEIRO']]

#### Transformando em um arquivo .csv

In [48]:
dftest.to_csv('answer.csv', index=False)