In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
grouped = df.groupby('estado_residencia')['pontuacao_credito'].agg([pd.Series.mode, 'median', 'mean', 'std'])

In [4]:
#renomear nomes das colunas
grouped = grouped.rename(columns = {'mode': 'moda', 'median': 'mediana', 'mean': 'media', 'std': 'desvio_padrao'})

In [8]:
grouped

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [5]:
groupedp = grouped.T
groupedp

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [7]:
groupedp.to_json('submission.json')